-e https://github.com/fivethreeo/django-easytests.git#egg=django-easytests
-e https://github.com/fivethreeo/django-taggit-classy-templatetags.git#egg=django-taggit-classy-templatetags
django-taggit
django-hvad