{% extends "admin/change_form.html" %}
{% load i18n hvad_blog_tags %}

{% block extrahead %}
{{ block.super }}
<style type="text/css">
.hvad-blog-language-tabs span {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-bottom: none;
    position: relative;
    left: 0px;
    top: 1px;
    font-weight: bold;
}
.hvad-blog-language-tabs span.current {
    border-bottom: 1px solid #fff;
}
.hvad-blog-language-tabs span.empty {
    opacity: 0.7;
    font-weight: normal;
}
.hvad-blog-language-tabs a.deletelink {
    right: -17px;
    bottom: 4px;
    position: relative;
}
</style>
{% endblock %}

{% block after_related_objects %}<input type="hidden" name="language_code" value="{{ language_tabs_code }}" />{% endblock %}
{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% block object-tools %}
{{ block.super }}
<div class="hvad-blog-language-tabs">
    {% for code, tab in language_tabs.items %}
       <span>
           {% if not object_id %}
               <a href="{% url 'admin:hvad_blog_entrytranslation_add' %}?language_code={{code}}">{{ tab.name }}</a>
           {% else %}
               <a href="{% url 'admin:hvad_blog_entry_change' object_id %}?language_code={{code}}">{{ tab.name }}</a>
               {% if allow_deletion %}<a class="deletelink" href="{% url 'admin:hvad_blog_entrytranslation_delete' tab.id %}?language_code={{code}}" title="{% trans 'Delete Translation' %}">&nbsp;</a>{% endif %}
               
           {% endif %}
        </span>
    {% endfor %}
</div>
{% endblock %}