{% extends "admin/change_list.html" %}
{{% load i18n %}
{% load admin_urls %}

{% block content_title %}{% if title %}<h1>{{ title|cut:" translation" }}</h1>{% endif %}{% endblock %}

{% block title %}{{ title|cut:" translation" }} | {% trans 'Django site admin' %}{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {{ cl.opts.verbose_name_plural|cut:" translation"|capfirst }}
</div>
{% endblock %}
{% endif %}

{% block object-tools-items %}
<li>
  <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
    {% blocktrans with cl.opts.verbose_name|slice:":-11" as name %}Add {{ name }}{% endblocktrans %}
  </a>
</li>
{% endblock %}
